html * {
    font-family: Arial;
}

body {
	padding: 0px;
	margin: 0px;
}

.container {
    margin-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
}

table, th {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: darkslategray;
    color: white;
    padding: 10px;
}

td {
    border: 1px solid gray;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 1px 6px;
}

button {
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
}

.btn-delete {
    background-color: red;
}

.btn-update {
    background-color: blueviolet;
}

.btn-add {
    background-color: green;
}

input {
    border: 1px solid black;
}

.pseudolink {
    cursor: pointer;
    color: lightblue;
}


